body {
 background: #757f9a;
 background: -webkit-linear-gradient(to right, #757f9a, #d7dde8); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #757f9a, #d7dde8);

}

.header {
	background-color: #2578a0;
	
}

#transparent {
  background: transparent;
  float: right;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2578a0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 4px 4px 5px #808080;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*.mainbutton{
  vertical-align:middle;
}
.mainimg{
  width: 25px; height: 25px;
}*/

h4 {
	font-family: 'Oxygen', sans-serif;
	color: white;
}

h1 {

	font-family: 'Paytone One', sans-serif;
	text-align: center;
  text-shadow: -3px -3px 6px rgba(150, 150, 150, 1);
}

h3 {

	font-family: 'Oxygen', sans-serif;
	text-align: center;
}

a {
	color: white;
}

.main-img {

border:2px solid #fff; box-shadow: 8px 8px 10px #aaa; }

.panel {
  background-color: #2578a0;
  box-shadow: 8px 8px 10px #aaa;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color: white;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color: white;
}

.well {
  background-color: #2578a0;
  box-shadow: 8px 8px 10px #aaa;
  width: 800px;
  
}

.btn.btn-open {
  background-color: white;
  color: black;
}

.btn.btn-default {
  background-color: #dd673f;
  color: white;
  float: left;
}

.btn.btn-primary {
  color: white;
  float: right;
}

#tagLine {
  text-shadow: -3px -3px 6px rgba(150, 150, 150, 1);
}

.doctor {
  height: 50px;
  width: 50px;
}

.news {
  height: 50px;
  width: 50px;
}

.forum {
  height: 50px;
  width: 50px;

}

hr {
     height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*BELOW HERE IS FOR THE FORMS IN THE MODALS*/


html{
    background-color: #f3f3f3;
}

.form-register{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    font: bold 14px sans-serif;
    text-align: center;
}

.form-register-with-email{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 130px;
    text-align: center;
}

.form-register-with-email .form-white-background{
    width: 570px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 60px 80px;
    margin-bottom: 35px;
}

.form-register-with-email .form-row{
    text-align: left;
    margin-bottom: 23px;
}

.form-register-with-email .form-title-row{
    text-align: center;
    margin-bottom: 50px;
}

.form-register-with-email h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 20px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-register-with-email .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 125px;
    text-align: right;
    padding-right: 25px;
}

.form-register-with-email input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 230px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 7px 18px;
    border: 1px solid #dbdbdb;
}

.form-register-with-email textarea{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    overflow:scroll;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 7px 18px;
    border: 1px solid #dbdbdb;
}

.form-register-with-email .form-checkbox input{
    margin-left: 128px;
    margin-right: 10px;
    width: auto;
    vertical-align: top;
}

.form-register-with-email .form-row .form-checkbox span{
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    width: 220px;
    margin: 0;
}

.form-register-with-email .form-checkbox span a{
    text-decoration: none;
    color:  #6caee0;
}

.form-register-with-email button{
    display: inline;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 55px auto 0;
    cursor: pointer;
}

.form-register-with-email .form-log-in-with-existing{
    text-decoration: none;
    padding: 4px 8px;
    font-weight: normal;
    color: #7b9d62;
    background-color: #d6f0c3;
}


.signuppage{
  height: 800px;
}

.catwell{
  width: 60%;
  color: white;
  font-family: 'Oxygen', sans-serif;
  margin: auto;
  margin-bottom: 20px;
  overflow:auto;
  text-overflow: auto;
  word-wrap: break-word


}
.top{
  padding-top: 0px;
  margin-top: 0px;
}
nav.navbar.navbar-static-top{
  margin-bottom: 0px;
  padding-bottom: 0px;

}

.scrollwell{
  height: 300px;
  width: 75%;
  overflow: scroll;
}


.postBut {
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.account{
  width: 85%;
  color: white;
  font-family: 'Oxygen', sans-serif;
  margin: auto;
  margin-bottom: 20px;
  background-color: #CF6D4A;
}

.bluewell{
  background-color: #2578a0;
}



